<table>
  <tbody>
    <% items_grouped_and_ordered(@list, 'by location', true).each_with_index do |(location,items)| %>
    <tr><td style="text-align:center"><span style="text-decoration: underline black 2px;"><strong>
	    <%= location %>
    </strong></span></td></tr>
    <% items.each do |item| %>
    <tr>
      <td>☐ <%= item.name %></td>
      <td style="padding: 0 0 0 50px"><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
      <td style="padding: 0 0 0 20px"><%= button_to 'Remove', list_item_path(@list, item) + '/remove', method: :patch  %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
