<h1>Editing list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Cancel", list_path(@list) %></li>
</div>

<h2>Actions</h2>

<ul>
  <li><%= button_to "Delete this list",  @list, method: :delete %></li>
</ul>
