<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list %></li>
  <% end %>
</ul>

<h2>Actions</h2>

<ul>
  <li><%= link_to "New list", new_list_path %></li>
</ul>
