<h1><%= @list.name %></h1>

<%= link_to "Add items from master list", list_items_path(@list, order: params[:order]) %>

<br>
<br>

<%= render @list %>

<br>

<%= link_to "Add items from master list", list_items_path(@list, order: params[:order]) %>

<h2>Actions</h2>

<ul>
  <li><%= link_to "Back to lists", lists_path %></li>
  <li><%= link_to "Edit this list", edit_list_path(@list) %></li>
</ul>
