<div class="page-header">
  <h1>Sign Up</h1>
</div>

<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div class="alert alert-danger">
  <strong>
    <%= pluralize(@user.error.count, "error") %> prevented you from signing up:
  </strong>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>

<%= f.submit class: "btn btn-primary" %>
<% end %>
