<%= form_with(model: [@list, item]) do |form| %>

  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, list: "existing_items" %>
  </div>

  <datalist id="existing_items">
    <% @list.items.order(:name).each do |i| %>
    <option value="<%= i.name %>">
    <% end %>
  </datalist>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, list: "existing_locations" %>
  </div>

  <datalist id="existing_locations">
    <% @list.items.order(:location).each do |i| %>
    <option value="<%= i.location %>">
    <% end %>
  </datalist>
  
  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
