<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location %>
  </p>
  
  <p>
    <strong>Checked:</strong>
    <%= item.checked %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

</div>
