<h1><%= @list.name + ' master list (' + order + ')' %></h1>

<%= link_to "Create / add item", new_list_item_path(@list, order: params[:order]) %>
<br>
<%= link_to "Back to current list", list_path(@list, order: params[:order]) %>

<br>
<br>

<table>
  <tbody>
    <% items_grouped_and_ordered(@list).each_with_index do |(location,items)| %>
    <tr><td style="text-align:center"><span style="text-decoration: underline black 2px;"><strong>
	    <%= location %>
    </strong></span></td></tr>
    <% items.each do |item| %>
    <tr>
      <td>☐ <%= item.name %></td>
      <td style="padding: 0 0 0 50px"><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
      <% if item.removed %>
      <td style="padding: 0 0 0 20px"><%= button_to 'Add', list_item_path(@list, item) + '/add', method: :patch %></td>
      <% else %>
      <td style="padding: 0 0 0 20px"><%= button_to 'Remove', list_item_path(@list, item) + '/remove', method: :patch %></td>
      <% end %>
      <td style="padding: 0 0 0 20px"><%= button_to 'Delete', list_item_path(@list, item), method: :delete %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create / add item", new_list_item_path(@list, order: params[:order]) %>
<br>
<%= link_to "Back to current list", list_path(@list, order: params[:order]) %>

<h2>Order</h2>

<ul>
  <li><%= link_to "by name", list_items_path(@list, order: "name") %></li>
  <li><%= link_to "by location", list_items_path(@list, order: "location") %></li>
  <li><%= link_to "by last used", list_items_path(@list, order: "last_updated") %></li>
</ul>
