<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_list_item_path(@list, @item) %> |
  <%= link_to "Back to items", list_items_path(@list) %>

  <%= button_to "Destroy this item", list_item_path(@list, @item), method: :delete %>
</div>
