<!DOCTYPE html>
<html>
  <head>
    <title>Holdmylist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <div class="pull-right">
	<% if current_user %>
	<%= link_to 'Log Out', logout_path %>
	<% else %>
	<%= link_to 'Log In', login_path %>
	<%= link_to 'Sign Up', signup_path %>
	<% end %>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
